.App {
  padding-left: 45%;
  padding-right: 35%;  
}
.result {
  height: 70px;
  width: 180px;
  text-align: right;
  line-height: 80px;
  font-size: 2*20px;
  font-weight: 100;
  background-color: rgb(29, 26, 26);
  color: white;
  margin: 0;
}


.App-ButtonFirstRow {
  border-width: thin;
  width: 45px;
  height: 45px;
  font-size: 16px;
  font-weight: 100;
  background-color: silver;
  outline: none;
}
.App-ButtonNumbers {
  border-width: thin;
  width: 45px;
  height: 45px;
  font-size: 16px;
  font-weight: 100;
  background-color: lightgray;
  outline: none;
}
.App-ButtonOperators {
  border-width: thin;
  width: 45px;
  height: 45px;
  font-size: 16px;
  font-weight: 100;
  background-color: orange;
  color: white;
  outline: none;
}
.App-ZeroButton {
  border-width: thin;
  width: 90px;
  height: 45px;
  font-size: 16px;
  font-weight: 100;
  background-color: lightgray;
  outline: none;
}

